.sp-container {
	width: 1050px;
	height: 400px;
	position: relative;
	margin: 80px auto 0px auto;
}
.sp-content {
	width: 100%;
	height: 400px;
	position: relative;
	animation: 
		open 0.4s linear forwards, 
		squeeze 0.6s linear 5.5s forwards;
}

.sp-content:after {
	content: '';
	width: 4px;
	background: #000;
	height: 100%;
	position: absolute;
	left: 50%;
}

.sp-wrap {
	width: 475px;
	padding: 50px 25px;
	height: 100%;
	text-align: right;
	font-size: 70px;
	line-height: 80px;
	float: left;
	position: relative;
	background: #ffdd00;
	overflow: hidden;
}

.sp-container h2 {
	color: #000;
	text-shadow: 0px 0px 1px rgba(0,0,0,0.9);
}
.sp-wrap span {
	display: block;
	background: #ffdd00;
	opacity: 0;
}
.sp-wrap span.sp-mid {
	opacity: 1;
}
.sp-container .sp-right h2 {
	color: #fff;
	text-shadow: 0px 0px 5px #000;
}
.sp-wrap span.sp-mid {
	font-family: 'MisoBold';
	text-transform: uppercase;
	font-size: 120px;
	line-height: 110px;
	position: relative;
}


.sp-left span.sp-top {
	animation: 
		slideLeft 0.5s ease-in 0.6s backwards, 
		fadeOut 1s linear 4s backwards;
}
.sp-left span.sp-mid {
	animation: 
		slideLeft 0.5s ease-in 1.8s backwards, 
		moveUp 0.6s linear 5s forwards;
}
.sp-left span.sp-bottom {
	animation: 
		slideLeft 0.5s ease-in 3.0s backwards, 
		fadeOut 1s linear 4.2s backwards;
}

.sp-right span {
	text-align: left;
}
.sp-right span.sp-top {
	animation: 
		slideRight 0.5s ease-in 1.2s backwards, 
		fadeOut 1s linear 4.4s backwards;
}
.sp-right span.sp-mid {
	animation: 
		slideRight 0.5s ease-in 2.4s backwards, 
		moveUp 0.6s linear 5s forwards;
}
.sp-right span.sp-bottom {
	animation: 
		slideRight 0.5s ease-in 3.6s backwards, 
		fadeOut 1s linear 4.6s backwards;
}

.sp-full {
	position: absolute;
	font-size: 67px;
	animation: fadeIn 1s linear 6.6s backwards;
}

.sp-full h2 {
	width: 1050px;
	padding: 0px 50px 0px 0px;
	text-align: Center;
}



@keyframes open{
	0%{
		transform: scale(1,0);
	}
	100%{
		transform: scale(1,1);
	}
}




@keyframes squeeze{
	0%{
		height: 400px;
	}
	100%{
		height: 150px;
	}
}



@keyframes fadeOut{
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
@keyframes fadeIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}


@keyframes slideLeft{
	0%{
		transform: translateX(120%);
	}
	100%{
		transform: translateX(0%);
	}
}
@keyframes slideRight{
	0%{
		transform: translateX(-120%);
	}
	100%{
		transform: translateX(0%);
	}
}


@keyframes moveUp{
	0%{
		transform: translateY(0px);
	}
	100%{
		transform: translateY(-100px);
	}
}


@keyframes zoomIn{
	0%{
		transform: scale(0);
	}
	100%{
		transform: scale(1);
	}
}

.home-content {
	width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    background-color: #FFDD00;
}