.cb-slideshow,
.cb-slideshow:after { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0; 
	padding: 0px;
    margin: 0px;
}

/*
.cb-slideshow:after { 
    content: '';
    background-image: -webkit-radial-gradient(top center, ellipse cover, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%);
}
*/

.cb-slideshow li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 36s linear infinite 0s; 
}

.cb-slideshow li div { 
    z-index: 1000;
    position: absolute;
    bottom: 15px;
    left: 0px;
    width: 100%;
    text-align: right;
    opacity: 0;
    color: #fff;
    animation: titleAnimation 36s linear infinite 0s; 
}
.cb-slideshow li div h3 { 
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 80px;
    padding: 0;
    line-height: 100px;
	color:#fff;
	text-shadow:
    1px 1px 0 #aaa,
    /* Simulated effect for Firefox and Opera
       and nice enhancement for WebKit */
   -1px -1px 0 #aaa,  
    1px -1px 0 #aaa,
   -1px  1px 0 #aaa,
    1px  1px 0 #aaa;

}



.cb-slideshow li:nth-child(1) span { 
    background-image: url(../images/1.jpg) 
}
.cb-slideshow li:nth-child(2) span { 
    background-image: url(../images/18.jpg);
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) span { 
    background-image: url(../images/19.jpg);
    animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) span { 
    background-image: url(../images/6.jpg);
    animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5) span { 
    background-image: url(../images/5.jpg);
    animation-delay: 24s; 
}
.cb-slideshow li:nth-child(6) span { 
    background-image: url(../images/3.jpg);
    animation-delay: 30s; 
}

.cb-slideshow li:nth-child(2) div { 
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) div { 
    animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) div { 
    animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5) div { 
    animation-delay: 24s; 
}
.cb-slideshow li:nth-child(6) div { 
    animation-delay: 30s; 
}

@keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    transform: scale(1.05);
	    animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    transform: scale(1.2) rotate(2deg);
	}
	25% {
	    opacity: 0;
	    transform: scale(2) rotate(2deg);
	}
	100% { opacity: 0 }
}

@keyframes titleAnimation { 
    0% { opacity: 0; transform: translateX(150px); }
    8% { opacity: 1; transform: translateX(-10px); }
    17% { opacity: 1; transform: translateX(-10px); }
    19% { opacity: 0; transform: translateX(-150px); }
    100% { opacity: 0 }
}

.no-cssanimations .cb-slideshow li span{
	opacity: 1;
}

@media screen and (max-width: 1140px) { 
    .cb-slideshow li div h3 { font-size: 80px}
}
@media screen and (max-width: 600px) { 
    .cb-slideshow li div h3 { font-size: 60px }
}

.goc-home-text-container {
	display:none;
	height:400px;
	font-size:24px;
	padding-top:50px;
	width:90%;
	padding-left:5%;
	padding-right:5%;
	padding-bottom:50px;
	/* margin-top:50px; */
	top:50%;
	transform: translateY(-50%);
	position:absolute;
	background-color:#000;
	color:#fff;
	opacity:0.8;
	font-family: 'Courgette', cursive;
	line-height: 1.2;
	
}

.goc-home-text-container  .mdl-textfield__label {
	color:#fff;
	font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.goc-home-text-container .mdl-textfield__input {
    border-bottom: 1px solid #fff;
}

#slide-login {
	font-family: "Roboto","Helvetica","Arial",sans-serif;
}

#slide-login  button{
	color: #fff;
}

.forgot-pwd-link {
	color: #fff;
    font-size: 16px;
    margin-left: 20px;
    cursor: pointer;
}