.bg {
  background-color:#47373F;
  height:100%;
  width:100%;
  position:absolute;
  left:0%;
  top:0%;
  padding:10px; 
}

.step_container {
  display:inline-block;
  width:140px;
  text-align:center;
 }

.step {
  width:70px;
  height:70px;
  border-radius:35px;
  background-color:#ECEFF1;
  border: 1px solid #DDD;
  transform:translateX(50%);
  box-sizing: border-box;
 }

.step_container span {
  display:block;
 }

span.tag {
  color: #eceff1;
  font-size:14px;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
 }

.step span.status {
  width:56px;
  height:56px;
  border-radius:28px;
  margin:6.2px;
  line-height:40px;
  color:#333;
  border: 1px solid #aaa;
  transition:all 200ms linear;
  cursor:pointer;
  z-index:9;
  font-size:25px;
  box-sizing: border-box;
}

.bar {
    width: 80px;
    height: 6px;
    background-color: #ECEFF1;
    top: -45px;
    margin-left: -40px;
    margin-right: -40px;
    position: relative;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    z-index: 99;
    border-left: none;
    border-right: none;
}

.status.closed {
    background-color: #ACEC00;
}

.status.active {
  background-color:#0DD5E5;  
}

.status.locked {
  background-color:transparent;
}

.status.active:hover,
.status.closed:hover
{
  background-color:#FFA500;
}

.bar.done,
.step.done {
  background-color:rgb(143, 188, 22);
}

.fa-cu {
  font-size: 20px;
}

#progress_bar  {
    margin: auto; 
}

#progress_bar .material-icons {
	line-height: 2;
	font-size:26px;
}