<!-- change_password.html-->

<div id="div_userdetails" class="div-useraction">
	<form class="form-horizontal" method="POST" action="changepassword">
		{% csrf_token 	%}
		<div class="form-group {% if form.old_password.errors %} has-error {% endif %}">
			<label class="control-label" for="old_password">Old Password:</label>
			<input type="password" class="form-control" id="old_password" name="old_password" value="">
			{% if form.old_password.errors %} 
				<span class="error-span" >{{ form.old_password.errors }}</span>
			{% endif %}
		</div>
		<div class="form-group {% if form.new_password.errors %} has-error {% endif %}">
			<label class="control-label" for="new_password">New Password</label>
			<input type="password" class="form-control" id="new_password" name="new_password" value="">
			{% if form.new_password.errors %} 
				<span class="error-span" >{{ form.new_password.errors }}</span>
			{% endif %}
		</div>
		<div class="form-group {% if form.confirm_password.errors %} has-error {% endif %}">
			<label class="control-label" for="confirm_password">Confirm Password:</label>
			<input type="password" class="form-control" id="confirm_password" name="confirm_password" value="">
			{% if form.confirm_password.errors %} 
				<span class="error-span" >{{ form.confirm_password.errors }}</span>
			{% endif %}
		</div>
		<div class="form-group" style="text-align:center">
			<button type="date" class="btn btn-primary" name="button">Save</button>
		</div>
	</form>
</div>