<!-- edit_user_address.html -->
<div id="div_useraddress" class="div-useraction" ng-app="Address" ng-controller="EditAddress">
	<div class="row">
		<form  name="addressForm" class="form-horizontal" method="POST" action="{{ebuy_base_url}}/updateaddres/{{address.id}}">
			{% csrf_token %}

			<div class="form-group {% if form.street.errors %} has-error {% endif %}">
				<label class="control-label" for="street">Street 1:</label>
				<input type="text" class="form-control" id="street" name="street" ng-model="street" required>
				{% if form.street.errors %} 
					<span class="error-span" >{{ form.street.errors }}</span>
				{% endif %}
				<span style = "color:red" ng-show = "addressForm.street.$dirty && addressForm.street.$invalid">
					<span class="error-span" ng-show="addressForm.street.$error.required">This Field is required.</span>
				</span>
			</div>

			<div class="form-group {% if form.street2.errors %} has-error {% endif %}">
				<label class="control-label" for="street2">Street 2:</label>
				<input type="text" class="form-control" id="street2" name="street2" ng-model="street2">
				{% if form.street2.errors %}
					<span class="error-span" >{{ form.street2.errors }}</span>
				{% endif %}
			</div>

			<div class="form-group {% if form.city.errors %} has-error {% endif %}">
				<label class="control-label" for="city">City:</label>
				<input type="text" class="form-control" id="city" name="city" ng-model="city">
				{% if form.city.errors %} 
					<span class="error-span" >{{ form.city.errors }}</span>
				{% endif %}
			</div>

			<div class="form-group {% if form.state.errors %} has-error {% endif %}">
				<label class="control-label" for="state">State:</label>
				<input type="text" class="form-control" id="state" name="state" ng-model="state">
				{% if form.state.errors %} 
					<span class="error-span" >{{ form.state.errors }}</span>
				{% endif %}
			</div>

			<div class="form-group {% if form.zipcode.errors %} has-error {% endif %}">
				<label class="control-label" for="zipcode">ZipCode:</label>
				<input type="text" class="form-control" id="zipcode" name="zipcode" ng-model="zipcode">
				{% if form.zipcode.errors %} 
					<span class="error-span" >{{ form.zipcode.errors }}</span>
				{% endif %}
			</div>

			<div class="form-group {% if form.landmark.errors %} has-error {% endif %}">
				<label class="control-label" for="landmark">Landmark:</label>
				<input type="text" class="form-control" id="landmark" name="landmark">
				{% if form.landmark.errors %} 
					<span class="error-span" >{{ form.landmark.errors }}</span>
				{% endif %}
			</div>

			<div class="checkbox {% if form.primary.errors %} has-error {% endif %}">
				<label>
					<input type="checkbox" id="primary" name="primary" value="1" {% if address.primary %} checked {% endif %}>
					Primary Address?
				</label>
				{% if form.primary.errors %} 
					<span class="error-span" >{{ form.primary.errors }}</span>
				{% endif %}
			</div>

			<div class="form-group" style="text-align:center">
				<button type="date" class="btn btn-primary" name="button">Save</button>
			</div>

		</form>
	</div>
</div>
<script >
	var myapp = angular.module('Address', []);
	myapp.controller('EditAddress', function($scope){
		$scope.street = '{{address.street}}'
		$scope.street2 = '{{address.stree2}}'
		$scope.city = '{{address.city}}'
		$scope.state = '{{address.state}}'
		$scope.zipcode = '{{address.zipcode}}'
		$scope.landmark = '{{address.landmark}}'
	});
</script>