{% extends 'wrapper.html' %}
<html >
	
	{% block header %}
		<title>Home</title>
		<style type="text/css">
			.comment-header{
				margin-top: 10px;
				margin-bottom: 20px;
			}
			.save-btn{
				margin-top: 10px;
				text-align: center;
			}
			.info-text{
				border-radius: 1px;
			}
			.div-category{
				margin-left: 5px;
				margin-right: 5px;
			}
		</style>
	{% endblock %}

	{% block body %}
		<form method="GET">
			{% csrf_token %}
			<div class="row">
				<div class="col-md-offset-2 col-md-6 col-md-offset-4">
					
				</div>
			</div>
		</form>
		<div class="row" id="content-div" >
				{% if categories %}
					{% for cat in categories%}
						<div class="col-md-3 well div-category">
							<strong> <a href="{{ebuy_base_url}}/home?cat={{cat.id}}"> {{ cat.category }}</a></strong>
						</div>
					{% endfor %}
				{% endif %}
				{% if category %}
					{% if cat_list %}
						{% for item in cat_list %}
							<div class="col-md-3 well div-category">
								<a href="{{ebuy_base_url}}/home?item={{ item.id }}">{{ item.name }}</a>
							</div>
						{% endfor %}
					{% else %}
						<div class="col-md-offset-4 col-md-8">
							<p style="color:red">No Items available, come again later</p>
						</div>
					{% endif %}
				{% endif %}

				{% if item %}
					{% if seller_items %}
						{% for item in seller_items %}
							<div class="col-md-3 well div-category">
								<a href="{{ebuy_base_url}}/home?item={{ item.id }}">{{ item.seller.first_name }}</a>
								<br/>price: {{item.price}}<br/>availability :{{item.count}}<br/>pname: {{item.product.name}}
							</div>
						{% endfor %}
					{% else %}
						<div class="col-md-offset-4 col-md-8">
							<p style="color:red">No Items available, come again later</p>
						</div>
					{% endif %}
				{% endif %}

				<div ng-app = "mainApp" ng-controller = "studentController" class="col-md-offset-4 col-md-8">
					<div class="form-inline">
						FirstName : <input type="text" ng-model="student.fname" class="form-control" />
						LastName : <input type="text" ng-model="student.lname" class="form-control" />
					</div>
					{% verbatim %}
						<p>Hello {{ student.fullName() }}</span></p>
					{% endverbatim %}
				</div>

		</div>
		<script >
			var mainApp = angular.module("mainApp", []);
			mainApp.controller('studentController', function($scope) {
					$scope.student = {
		           fname: '{{user.first_name}}',
		           lname: '{{user.last_name}}',
		           
		           fullName: function() {
		              var studentObject;
		              studentObject = $scope.student;
		              return studentObject.fname + " " + studentObject.lname;
		           }
		        };
		     });
		</script>

	{% endblock %}
</html>
