<!-- login.htm-->
<html>
{% load staticfiles %}
<head>
<script src="{% static "js/jquery.1.12.4.min.js" %}"></script>
<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
<script src="{% static "js/angular.min.js" %}"></script>
<script src="{% static "js/angular-route.min.js" %}"></script>
<script src="{% static "js/angular-resource.min.js" %}"></script>
<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
<link rel="stylesheet" href="{% static "css/login.css" %}">
<script src="{% static "js/quickchat.js" %}"></script>

<title>Login</title>

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Welcome User</h1>
            <div class="account-wall">
                <img class="profile-img" src="{% static "images/avatar.png" %}" alt="">
                <form class="form-signin" method="post">
                    {% csrf_token %}
                    <input type="text" class="form-control" placeholder="Username" required autofocus name="username" id="username">
                    <input type="password" class="form-control" placeholder="Password" required name="password" id="password">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                    <label class="checkbox pull-left">
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                    <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
                </form>
                {% if error %}
                    <span class="error">{{ terror }}</span>
                {% endif %}
            </div>
            <a href="/quickchat/register" class="text-center new-account">Create an account </a>
        </div>
    </div>
</div>

	<script type="text/javascript">

		$(document).ready(function(){

			$('#LoginBtn').click( function(){

				var username = $('#username').val();
				var password = $('#password').val();
				var jsonformat = {'username': username, 'password': password, 'CSRFToken': csrftoken, 'ajax' : '1'};

				var saveData = $.ajax({
					type : 'POST',
					url : 'testurl',
					data : JSON.stringify(jsonformat),
					success: function(data1){
						$.each(JSON.parse(data1), function(index, item){
							console.log(item.fields.first_name);
						});
					},
					error: function(){
						alert("Something went wrong");
					}
				});
			});		
		});

		$(function() {

		    $('#login-form-link').click(function(e) {
				$("#login-form").delay(100).fadeIn(100);
		 		$("#register-form").fadeOut(100);
				$('#register-form-link').removeClass('active');
				$(this).addClass('active');
				e.preventDefault();
			});
			$('#register-form-link').click(function(e) {
				$("#register-form").delay(100).fadeIn(100);
		 		$("#login-form").fadeOut(100);
				$('#login-form-link').removeClass('active');
				$(this).addClass('active');
				e.preventDefault();
			});

		});


	</script>
</html>