<!-- profile.html -->
{% extends 'wrapper.html' %}

{% block header %}
	<title>Profile</title>
	<style type="text/css">
		.link-div {
			padding-top: 5%;
		}

		.content-div{
			margin-top: 20px;
			margin-bottom: 20px;
		}
		.div-useraction{
			padding-left: 40px;
			padding-right: 40px;
		}

		.error-span{
			color: red;
			margin-bottom: 1px;
			margin-top: 1px;
		}
	</style>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
  	  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>  
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-offset-2 col-md-7 link-div">
			<ul class="nav nav-tabs nav-justified">
				<li><a href="{{ebuy_base_url}}/profile">Profile</a></li>
				<li><a href="{{ebuy_base_url}}/changepassword">Change Password</a></li>
				<li><a href="{{ebuy_base_url}}/address">Address</a></li>
			</ul>
			<div id="content_div" class="content-div">
				{{ request.get_absolute_url }}
				{% with section_name|add:".html" as templatename %}
					{% include templatename %}
				{% endwith %}
			</div>
		</div>
	</div>
{% endblock %}