<!-- register.html -->
<html>
	{% load staticfiles %}
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
		<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
		<link rel="stylesheet" href="{% static "css/login.css" %}">
		<script src="{% static "js/quickchat.js" %}"></script>
		<title>Register</title>
	</head>
	<div class="col-md-6 col-md-offset-3">
		 <h1 class="text-center login-title">New User!!</h1>
		 <div class="account-wall">
		 	<form method="post">
		 		{% csrf_token %}
		 		<div class="row">
		 			{% if create_error %}
			 			<div class="col-md-offset-1 col-md-10 col-md-offset-2" style="text-align:center; margin:10px;">
			 				<span class="error">{{create_error}}</span>
			 			</div>
		 			{% endif %}
		 			<div class="col-md-offset-1 col-md-10 col-md-offset-2"><strong>First Name:</strong></div>
		 			<div class="col-md-offset-1 col-md-10 col-md-offset-2" >
		 				<input type="text" name="first_name" placeholder="First Name" id="first_name" autocomplete="off" class="form-control" value="{{ first_name }}">
		 				{% if form_error.first_name.errors %}
							<span class="error user">{{ form_error.first_name.errors }}</span>
						{% endif %}
		 			</div>
		 			
		 			<div class="col-md-offset-1 col-md-10 col-md-offset-2"><strong>Last Name:</strong></div>
		 			<div class="col-md-offset-1 col-md-10 col-md-offset-2" >
		 				<input type="text" name="last_name" placeholder="Last Name" id="last_name" autocomplete="off" class="form-control">
		 				{% if form_error.last_name.errors %}
                        	<span class="error user">{{ form_error.last_name.errors }}</span>
                        {% endif %}
		 			</div>

		 			<div class="col-md-offset-1 col-md-10 col-md-offset-2"><strong>Email:</strong></div>
		 			<div class="col-md-offset-1 col-md-10 col-md-offset-2" >
		 				<input type="text" name="user_email" placeholder="Email Address" id="user_email" autocomplete="off" class="form-control">
		 				{% if form_error.user_email.errors %}
                        	<span class="error user">{{ form_error.user_email.errors }}</span>
                        {% endif %}
		 			</div>

		 			<div class="col-md-offset-1 col-md-10 col-md-offset-2"><strong>Password:</strong></div>
		 			<div class="col-md-offset-1 col-md-10 col-md-offset-2" >
		 				<input type="password" name="new_password" placeholder="Password" id="new_password" autocomplete="off" class="form-control">
		 				{% if form_error.new_password.errors %}
                        	<span class="error user">{{ form_error.new_password.errors }}</span>
                        {% endif %}
		 			</div>

		 			<div class="col-md-offset-1 col-md-10 col-md-offset-2"><strong>Confirm Password:</strong></div>
		 			<div class="col-md-offset-1 col-md-10 col-md-offset-2" >
		 				<input type="password" name="confirm_password" placeholder="Confirm Password" id="confirm_password" autocomplete="off" class="form-control">
		 				{% if form_error.confirm_password.errors %}
                        	<span class="error user">{{ form_error.confirm_password.errors }}</span>
                        {% endif %}
		 			</div>

		 			<div class="col-md-offset-1 col-md-10 col-md-offset-2" style="text-align:center; margin:10px;">
		 				<button type="submit" class="form-btn btn btn-success" onsubmit="">SignUp</button>
		 			</div>
		 		</div>
		 	</form>
		 </div>
	</div>
</html>