<!-- user_address.html -->
<style type="text/css">
	.primary-address{
		color: #3c763d;
		background-color: #dff0d8;
		border-color: #d6e9c6;
	}
</style>
<div id="div_useraddress" class="div-useraction">
	<form class="form-horizontal" method="POST" action="{{ebuy_base_url}}/useraddress">
		{% csrf_token %}
		<div class="row">
			{% if address%}
				{% for item in address %}
					<div class="col-md-6" id="address{{item.id}}">
						<div class="well {% if item.primary %} primary-address {% endif %}">
							<div class="col-md-6"style="text-align:left">
								<a class="change-address" href="{{ebuy_base_url}}/updateaddres/{{item.id}}" data-address="{{item.id}}"><span class="glyphicon glyphicon-pencil"></span></a>
							</div>
							<div class="col-md-6"style="text-align:right">
								<a class="change-address" href="{{ebuy_base_url}}/deleteaddress/{{item.id}}" data-address="{{item.id}}"><span class="glyphicon glyphicon-remove" style="color:red"></span></a>
							</div>
							<br/>
							<span><strong>Street:</strong> {{item.street}}</span><br/>
							<span><strong>Street2:</strong> {{item.street2}}</span><br/>
							<span><strong>City:</strong> {{item.city}}</span><br/>
							<span><strong>State:</strong> {{item.state}}</span><br/>
							<span><strong>Zip:</strong> {{item.zipcode}}</span><br/>
							<span><strong>Landmark:</strong> {{item.landmark}}</span><br/>
						</div>
					</div>
				{% endfor %}
			{% endif %}
		</div>
		
	</form>
</div>	