<!-- userdetails.html -->
<div id="div_userdetails" class="div-useraction">
	{% if profile_saved%}
		<div id="alert_div" class="alert alert-success alert-dismissible">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<strong>Profile Saved successfully</strong>
		</div>
	{% endif %}
	<form class="form-horizontal" method="POST" action="{{ebuy_base_url}}/profile">
		{% csrf_token 	%}
		<div class="form-group {% if form.first_name.errors %} has-error {% endif %}">
			<label class="control-label" for="first_name">First Name:</label>
			<input type="text" class="form-control" id="first_name" name="first_name" value="{{user.first_name}}">
			{% if form.first_name.errors %} 
				<span class="error-span" >{{ form.first_name.errors }}</span>
			{% endif %}
		</div>
		<div class="form-group {% if form.last_name.errors %} has-error {% endif %}">
			<label class="control-label" for="last_name">Last Name:</label>
			<input type="text" class="form-control" id="last_name" name="last_name" value="{{user.last_name}}">
			{% if form.last_name.errors %} 
				<span class="error-span" >{{ form.last_name.errors }}</span>
			{% endif %}
		</div>
		<div class="form-group {% if form.email.errors %} has-error {% endif %}">
			<label class="control-label" for="email">Email:</label>
			<input type="text" class="form-control" id="email" name="email" value="{{user.email}}">
			{% if form.email.errors %} 
				<span class="error-span" >{{ form.email.errors }}</span>
			{% endif %}
		</div>
		<div class="form-group {% if form.gender.errors %} has-error {% endif %}">
			<label class="control-label" for="gender">Gender:</label>
			<select type="text" class="form-control" id="gender" name="gender">
				<option value=""></option>
				<option value="Male" {% ifequal request.user.userdetails.gender "Male" %} selected{% endifequal %}>Male</option>
				<option value="Female" {% ifequal request.user.userdetails.gender "Female" %} selected {% endifequal %}>Female</option>
			</select>
			{% if form.gender.errors %} 
				<span class="error-span" >{{ form.gender.errors }}</span>
			{% endif %}
		</div>
		<div class="form-group {% if form.dob.errors %} has-error {% endif %}">
			<label class="control-label" for="dob">DOB:</label>
			<input type="text" class="form-control" id="dob" name="dob" value="{{user.userdetails.dob|date:"m/d/y"}}">
			{% if form.dob.errors %} 
				<span class="error-span" >{{ form.dob.errors }}</span>
			{% endif %}
		</div>
		<div class="form-group" style="text-align:center">
			<button type="date" class="btn btn-primary" name="button">Save</button>
		</div>
	</form>
	<script type="text/javascript">
		$(document).ready(function(){
			$('#dob').datepicker();
			setTimeout(function(){
				if ($('#alert_div').length > 0){
					$('#alert_div').remove();
				}
			}, 3000);
		});
	</script>
</div>