<html>
{% load staticfiles %}
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.js"></script>  
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.js"></script>

	{%verbatim%}
		<!--<script src="{% static "js/angular.min.js" %}"></script>-->
	{%endverbatim%}
	<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
	<style type="text/css">
		.hdiv{
			height: 50px;
			background-color: #337ab7;
			vertical-align: center;
		}
		.log-user{
			color: white;
		}

		.home-icon{
			padding-left:50px;
			vertical-align: center;
			font-size: 20px;
			color:white;
		}
		.search-div{
			margin-top: 10px;
			margin-bottom: 10px;
		}
	</style>
	{% block header %}{% endblock %}
</head>
<body>
	<div class="hdiv row">
		<div class="col-md-2 home-ico">
			<a href="{{ebuy_base_url}}/home"><span class="glyphicon glyphicon-home"></span></a>
		</div>
		<div class="col-md-offset-7 col-md-2" style="text-align:right;padding-top:5px">
			{% if user.id %}
				<ul class="nav">
					<li class="dropdown">
						<a class="dropdown-toggle log-user" data-toggle="dropdown" href="#" role="button" >
							{{ user.first_name }} <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="{{ebuy_base_url}}/profile">Profile</a></li>
							<li><a href="#">Cart</a></li>
							<li><a href="#">History</a></li>
							<li><a href="http://127.0.0.1:8000/quickchat/logout">Logout</a></li>
						</ul>
					</li>
				</ul>
			{% endif %}
		</div>
		<div clas="col-md-1">

		</div>
	</div>
	<div class="container search-div">
		<div class="col-md-offset-3 col-md-6 col-md-offset-3">
			<div class="form-inline">
				<input type="text" class="form-control" id="searchQuery" name="searchQuery" value="">
				<button name="search_btn" id="search_btn" class="btn btn-info">Search</button>
			</div>
		</div>
	</div>
	<div class="container">
		{% block body %}{% endblock %}
	</div>
</body>
	{% block footer %} {% endblock %}
</html>